<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <h1>Web Naval</h1>
    <p>{{ user.user.username }} - {{ user.user.email }}</p>

    <br>

    <a href="/disconnect">DESCONECTAR</a>

    <br>
    <br>

    <a href="#">JOGAR</a>

    <br>
    <br>
    <br>
    
    <p><strong>Score:</strong> {{ user.score }} </p>
    <p><strong>Games Played:</strong> {{ user.games_played }} </p>
    <p><strong>Online:</strong> {{ server.count_players }} </p>

    <br>
    <br>
    <br>

    <ol>
    {% for player in ranking %}
        <li>{{ player.user.username }}  {{ player.score }}</li>
    {% endfor %}
    <ol>

</body>
</html>