{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

    <title>WebNaval</title>
  </head>
  <body>

    <div>
      <h1 class = "center title-font">WebNaval</h1>
    </div>

    <div>
        <h2 class = "center subtitle-font">Seleção da Frota de Navios</h1>
    </div>

    <div class="container margin-left-30 map block">
      <div class ="row">
        <div id = "A1" class="cor-azul-claro unit"></div>
        <div id = "A2" class="cor-azul-claro unit"></div>
        <div id = "A3" class="cor-azul-claro unit"></div>
        <div id = "A4" class="cor-azul-claro unit"></div>
        <div id = "A5" class="cor-azul-claro unit"></div>
        <div id = "A6" class="cor-azul-claro unit"></div>
      </div>
       <div class ="row">
        <div id = "B1" class="cor-azul-claro unit"></div>
        <div id = "B2" class="cor-azul-claro unit"></div>
        <div id = "B3" class="cor-azul-claro unit"></div>
        <div id = "B4" class="cor-azul-claro unit"></div>
        <div id = "B5" class="cor-azul-claro unit"></div>
        <div id = "B6" class="cor-azul-claro unit"></div>
      </div>
       <div class ="row">
        <div id = "C1" class="cor-azul-claro unit"></div>
        <div id = "C2" class="cor-azul-claro unit"></div>
        <div id = "C3" class="cor-azul-claro unit"></div>
        <div id = "C4" class="cor-azul-claro unit"></div>
        <div id = "C5" class="cor-azul-claro unit"></div>
        <div id = "C6" class="cor-azul-claro unit"></div>
      </div>
       <div class ="row">
        <div id = "D1" class="cor-azul-claro unit"></div>
        <div id = "D2" class="cor-azul-claro unit"></div>
        <div id = "D3" class="cor-azul-claro unit"></div>
        <div id = "D4" class="cor-azul-claro unit"></div>
        <div id = "D5" class="cor-azul-claro unit"></div>
        <div id = "D6" class="cor-azul-claro unit"></div>
      </div>
      <div class ="row">
        <div id = "E1" class="cor-azul-claro unit"></div>
        <div id = "E2" class="cor-azul-claro unit"></div>
        <div id = "E3" class="cor-azul-claro unit"></div>
        <div id = "E4" class="cor-azul-claro unit"></div>
        <div id = "E5" class="cor-azul-claro unit"></div>
        <div id = "E6" class="cor-azul-claro unit"></div>
      </div>
      <div class ="row">
        <div id = "F1" class="cor-azul-claro unit"></div>
        <div id = "F2" class="cor-azul-claro unit"></div>
        <div id = "F3" class="cor-azul-claro unit"></div>
        <div id = "F4" class="cor-azul-claro unit"></div>
        <div id = "F5" class="cor-azul-claro unit"></div>
        <div id = "F6" class="cor-azul-claro unit"></div>
      </div>
      
    </div>

    <div class="clear-right transparent info float-left">
      <div class="info padding-15">
        <div class="center">
          <span class="white center large">IMPORTANTE</span>
        </div>
        <span class="white">As seguintes embarcações devem ser marcadas no mapa ao lado:</span>
        <ul class="white">
          <li>Uma embarcação de tamanho 1;</li>
          <li>Uma embarcação de tamanho 2;</li>
          <li>Uma embarcação de tamanho 3;</li>
          <li>Uma embarcação de tamanho 4;</li>
          <li>Uma embarcação de tamanho 5.</li>
        </ul>
      </div>
      <div id = "confirma" class = "button float-left">
            CONFIRMAR   
      </div>
      <div id = "start" class = "button float-left">
            INICIAR JOGO  
      </div>
    </div>

    

    {% csrf_token %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'js/jquery.js' %}" ></script>
    <script src="{% static 'js/actions.js' %}" ></script> 
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
   !-->
  </body>
</html>