.center {
    text-align: center;
    margin-bottom: 20px;
}

.title-font{
	font-weight: 100;
	font-size: 60px;
}

.subtitle-font{
	font-size: 30px;
	font-weight: 200;
	text-decoration: underline dotted;
}

.undertitle-font{
	font-size: 20px;
}

.black{
	background-color: black;
}

.cor-azul-claro{
	background-color: #a4d5e7da;
}

.cor-verde-claro{
	background-color: #61d46ada !important;
}

.cor-vermelho-claro{
	background-color: #c24a4ada !important;
}

.cor-cinza-claro{
	background-color: #999b9c  !important;
}

.cor-cinza-escuro{
	background-color: #3d3c3c;
}

.unit{
	width: 100px;
	height: 60px;
	border: 2px solid black;
	margin: 3px;
}

.my-unit{
	width: 100px;
	height: 60px;
	border: 2px solid black;
	margin: 3px;
}

.unit-enemy{
	width: 50px;
	height: 30px;
	border: 1px solid black;
	margin: 2px;
}

.margin-left-30{
	margin-left: 10%;
}

.unit:hover, .my-unit:hover {
    background-color: #eaee1ed7;
    transform: 1.5;
}


.button{
	background: rgb(20, 47, 134);
	width: 150px;
	color: white;
	margin-left: 35%;
	text-align: center;
	clear: left;
	margin-top: 30px;
	box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.5);
	border-radius: 10px;
	height: 50px;
	padding: 11px;
}

.button:hover{
	transform: scale(1.05);
	transition: 0.3s;
}

.info{
	width: 400px;
	float: left;
	clear: right;
	background-color: #999b9c;
	border: 1px solid black;
	box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}

.adv{
	width: 400px;
	float: left;
	clear: right;
	background-color: #999b9c;
	border: 1px solid black;
	box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}

.large{
	font-weight: 500;
}

.padding-15{
	padding: 15px;
}

.float-left{
	float: left;
	clear: right;
}

.white{
	color: white;
}

.radio input{
	margin-bottom: 20px;
}

.map{
	width: 700px;
	float: left;
}

.block{
	margin-bottom: 50px;
}

.clear-right{
	clear: right;
}

.transparent{
	background-color: white !important;
	border: 1px solid white !important;
	box-shadow: 5px 5px 5px white !important;
}

@media (max-width: 1300px){
	.info{
		margin-left: 100px;
	}

	.adv{
		width: 700px;
		margin-left: 1%;
	}

	.unit-enemy{
		width: 100px;
		height: 60px;
	}
}

@media (max-width: 800px){
	
	.unit{
		width: 80px;
		height: 48px;
	}
	.my-unit{
		width: 80px;
		height: 48px;
	}
	.unit-enemy{
		width: 80px;
		height: 48px;
	}
	.info{
		width: 350px;
		margin-left: 30px;
	}
	
}

@media (max-width: 600px){

	.unit{
		width: 50px;
		height: 30px;
	}
	.my-unit{
		width: 50px;
		height: 30px;
	}
	.unit-enemy{
		width: 50px;
		height: 30px;
	}
	.info{
		width: 300px;
	}
	.white{
		font-size: 15px;
	}

	.button{
		width: 120px;
		margin-top: 20px;
		border-radius: 8px;
		height: 40px;
		padding: 10px;
		font-size: 15px;
	}

	.adv{
		width: 100%;
	}

	.info{
		width: 100%;
	}

	.map{
		width: 100%;
	}

}

@media (max-width: 400px){
	.unit{
		width: 40px;
		height: 20px;
	}
	.my-unit{
		width: 40px;
		height: 20px;
	}
	.unit-enemy{
		width: 40px;
		height: 20px;
	}
	
}
